.logo {
    width: auto;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.loginButton {
    background-color: #966AE8;
    font-family: "Electrolize", sans-serif;
}

.signupLink {
    text-decoration: underline;
}

.signupLink:hover {
    color: #966AE8 !important;
}