.carouselOuter {
    width: 100%;
    overflow-x: auto;
    cursor: grab;
    -ms-overflow-style: none;  /* hide scrollbar in IE/Edge */
    scrollbar-width: none;     /* hide scrollbar in Firefox */
    padding-top: 25px;
    padding-bottom: 25px;
}

.carouselOuter::-webkit-scrollbar {
    display: none;             /* hide scrollbar in Chrome/Safari */
}

.carouselOuter:active {
    cursor: grabbing;
}

.carouselInner {
    display: flex;
    user-select: none;
    padding: 10px 10px;
}

.focused {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.falseCard {
    height: auto;
    min-width: 250;
    width: 250;
}

@media (max-width: 768px) {
    .falseCard {
        min-width: 110;
        width: 110px;
        height: auto;
    }
    .carouselOuter {
        padding-top: 10px;
        padding-bottom: 10px;
        touch-action: none;
    }
}