:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--background) !important;
    color: var(--foreground) !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 56px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
button,
textarea,
select {
    color: var(--foreground) !important;
}

.container,
.row,
.col {
    background-color: transparent !important; /* keep Bootstrap containers transparent */
}
